<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Kumuda S. </title>
</head>
<body class = 'main-page'>
    <section>
    <a href = './projects.html' class = 'main-links'>Projects</a>
    <a href = 'https://docs.google.com/document/d/1ABnUpnj9TmQMuUPwW8k-n3pYoXtHnMvXSzZ-SrJj4FM/edit?usp=sharing' class = 'main-links'>Resume</a>
    <a href = 'https://kumudasg.substack.com/' class = 'main-links'>Blog</a>
    </section>
    <hr/>
    <h1>Hi, I'm Kumuda:)</h1>
    <hr/>
    <h4>Developer, Writer, Believer</h4>
    <script src="./script.js"></script>
    <!--Header, nav bar, main, footer-->
</body>
</html>