<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <title>Kumuda S. </title>
</head>
<body style = 'background-color: black;'>
    <section>
    <a href = './projects.html' class = 'white-text'>Projects</a>
    <a href = './resume.html' class = 'white-text'>Resume</a>
    <a href = 'https://kumudasg.substack.com/' class = 'white-text'>Blog</a>
    </section>
    <hr/>
    <h1 class = 'white-text'>Hi, I'm Kumuda:)</h1>
    <hr/>
    <h4 class = 'white-text'>Developer, Writer, Believer</h4>
    <script src="./script.js"></script>
    <!--Header, nav bar, main, footer-->
</body>
</html>